<header>
<h1>
<center>{{screamIt pageTitle}}</center>
</h1>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<center>
  <style>
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}
</style>
<p>
  <a href="/home" class="btn btn-info" role="button">Home</a>
</p>
<p>
  <a href="/addcategory" class="btn btn-info" role="button">Add Category</a>
</p>
<p>
  <a href="/addquantity" class="btn btn-info" role="button">Add Quantity</a>
</p>
<p>
  <a href="/removequantity" class="btn btn-info" role="button">Remove Quantity</a>
</p>
</center>
</header>
