<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <title>Some website</title>
    <style>
body {
    background-color: #EE82EE;
}
</style>
  </head>
  <body>
    {{>header}}
    <form action="http://127.0.0.1:4000/addq" method="POST">
      <center>
      Name:
      <br>
      <input list="name" name="name" autocomplete="off">
      <datalist id="name">
        <option value="Adidas">
        <option value="Nike">
        <option value="Puma">
        <option value="Super-Dry">
        <option value="Reebok">
      </datalist><br>
      Product:
      <br>
      <input list="prod" name="product" autocomplete="off">
      <datalist id="prod">
          <option value="T-Shirt">
          <option value="Shirt">
          <option value="Tracks">
          <option value="Shoes">
          <option value="Bag">
      </datalist><br>
      Quantity:
      <br>
      <input type="number" name="quantity"  min="0" autocomplete="off">
      <br><br>
      <input type="submit" value="Submit">
    </center>
    </form>
  </body>
</html>
