<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <canvas id="popChart" width="10" height="10"></canvas>

  <script>
    const charts = require('./charts.js');
  </script>

  <title>Some website</title>
  {{> header}}
  <style>
    body {
      background-color: #93B874;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  </style>

  <style>
    table {
      font-family: arial, sans-serif;
      width: 100%;
      border: 1px solid black;
      border-collapse: collapse;
    }


    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
</head>

<body>

  <div class="container">
    <script>
      window.onload = function() {
        for(i=0;i<2;i++)
        {
        jQuery.get('dataquantity', function(productlist) {
          var qty = [];
          var product = [];
          for (var i = 0; i < productlist.length; i++) {
            qty.push(productlist[i].quantity);
            product.push(productlist[i].product);
          }
          var popCanvas = document.getElementById("popChart");
          var barChart = new Chart(popCanvas, {
            type: 'bar',
            data: {
              labels: product,
              datasets: [{
                label: 'Comapny',
                data: qty,
                backgroundColor: [
                  'rgba(255, 99, 132, 0.6)',
                  'rgba(54, 162, 235, 0.6)',
                  'rgba(255, 206, 86, 0.6)',
                  'rgba(75, 192, 192, 0.6)',
                  'rgba(153, 102, 255, 0.6)',
                  'rgba(255, 159, 64, 0.6)',
                  'rgba(255, 99, 132, 0.6)',
                  'rgba(54, 162, 235, 0.6)',
                  'rgba(255, 206, 86, 0.6)',
                  'rgba(75, 192, 192, 0.6)',
                  'rgba(153, 102, 255, 0.6)'
                ]
              }]
            }
          });

        });
        $barChart.appendTo(document.body);
      }
      }
    </script>
    <div class="row">
      <div class="col-sm-6">

        <table class="table table-striped" ,class="table table-hover" ,class="table table-bordered">
          <tr>
            <th>Name</th>
            <th>Product</th>
            <th>Quantity</th>
          </tr>
        </table>

        <script>
          $(window).on("load", function() {

            jQuery.get('data', function(productlist) {

              var tr;
              for (var i = 0; i < productlist.length; i++) {
                if (productlist[i].name == 'Adidas') {
                  tr = $('<tr/>');
                  tr.append("<td>" + productlist[i].name + "</td>");
                  tr.append("<td>" + productlist[i].product + "</td>");
                  tr.append("<td>" + productlist[i].quantity + "</td>");
                  $('table').append(tr);
                }
              }

            });

          });

          $table.appendTo(document.body);
        </script>
      </div>
      <div class="col-sm-6">
        <table class="table table-striped" ,class="table table-hover" ,class="table table-bordered">
          <tr>
            <th>Name</th>
            <th>Product</th>
            <th>Quantity</th>
          </tr>
        </table>
        <script>
          $(window).on("load", function() {

            jQuery.get('data', function(productlist) {

              var tr2;
              for (var i = 0; i < productlist.length; i++) {
                if (productlist[i].name == 'Puma') {
                  tr2 = $('<tr/>');
                  tr2.append("<td>" + productlist[i].name + "</td>");
                  tr2.append("<td>" + productlist[i].product + "</td>");
                  tr2.append("<td>" + productlist[i].quantity + "</td>");
                  $('table').append(tr2);
                }

              }

            });

          });

          $table.appendTo(document.body);
        </script>
      </div>
      <div class="col-sm-6">
        <table class="table table-striped" ,class="table table-hover" ,class="table table-bordered">
          <tr>
            <th>Name</th>
            <th>Product</th>
            <th>Quantity</th>
          </tr>
        </table>
        <script>
          $(window).on("load", function() {

            jQuery.get('data', function(productlist) {

              var tr2;
              for (var i = 0; i < productlist.length; i++) {
                if (productlist[i].name == 'Reebok') {
                  tr2 = $('<tr/>');
                  tr2.append("<td>" + productlist[i].name + "</td>");
                  tr2.append("<td>" + productlist[i].product + "</td>");
                  tr2.append("<td>" + productlist[i].quantity + "</td>");
                  $('table').append(tr2);
                }

              }

            });

          });

          $table.appendTo(document.body);
        </script>
      </div>
      <div class="col-sm-6">
        <table class="table table-striped" ,class="table table-hover" ,class="table table-bordered">
          <tr>
            <th>Name</th>
            <th>Product</th>
            <th>Quantity</th>
          </tr>
        </table>
        <script>
          $(window).on("load", function() {

            jQuery.get('data', function(productlist) {

              var tr2;
              for (var i = 0; i < productlist.length; i++) {
                if (productlist[i].name == 'Nike') {
                  tr2 = $('<tr/>');
                  tr2.append("<td>" + productlist[i].name + "</td>");
                  tr2.append("<td>" + productlist[i].product + "</td>");
                  tr2.append("<td>" + productlist[i].quantity + "</td>");
                  $('table').append(tr2);
                }

              }

            });

          });

          $table.appendTo(document.body);
        </script>
      </div>

      <div class="col-sm-6">
        <table class="table table-striped" ,class="table table-hover" ,class="table table-bordered">
          <tr>
            <th>Name</th>
            <th>Product</th>
            <th>Quantity</th>
          </tr>
        </table>
        <script>
          $(window).on("load", function() {

            jQuery.get('data', function(productlist) {

              var tr2;
              for (var i = 0; i < productlist.length; i++) {
                if (productlist[i].name == 'Super-Dry') {
                  tr2 = $('<tr/>');
                  tr2.append("<td>" + productlist[i].name + "</td>");
                  tr2.append("<td>" + productlist[i].product + "</td>");
                  tr2.append("<td>" + productlist[i].quantity + "</td>");
                  $('table').append(tr2);
                }

              }

            });

          });

          $table.appendTo(document.body);
        </script>
      </div>
    </div>

  </div>
</body>

</html>
